.tanpa-bootstrap {
     border: none;
     padding: 20px;
     font-weight: 800;
     font-size: 3em;
     background-color: aqua;
     color: #333;
     cursor: pointer;
}

.tanpa-bootstrap {
     background-color: blueviolet;
     color: black;
     transform: rotateY(2);
     -webkit-transform: rotateY(2);
     -moz-transform: rotateY(2);
     -ms-transform: rotateY(2);
     -o-transform: rotateY(2);
     transition: all .5s;
     -webkit-transition: all .5s;
     -moz-transition: all .5s;
     -ms-transition: all .5s;
     -o-transition: all .5s;
}